<% if current_user %>
    <% if current_user&.voted_for?(article)%>
    <div style="width: 80px"> 
        <%= link_to like_article_path(article.id), method: :put, remote: true do %>
        <span class="glyphicon glyphicon-heart"></span>
    </div>
    <% end %>
    <% else %>
    <div style="width: 60px"> 
        <%= link_to like_article_path(article.id), method: :put, remote: true do %>
        <span class="glyphicon glyphicon-heart-empty"></span>
    </div>
    <% end %>
    <%end%>

<%else%>
<%= link_to "Like", new_user_session_path, class: 'like-post'%>
<%end%>